<%= render 'shared/banner' %>

<div class = "container">
  <h1 class = "text-center"><%= @cocktail.name %></h1>
  <div class="row">
    <% @doses.each do |dose| %>
      <div class="col-xs-12 col-sm-2">
        <div class="ingredient text-center">
          <div class="ingredient-description">
            <p><%= dose.ingredient.name %></p>
            <p><%= dose.description%></p>
          </div>
          <div class="ingredient-trash">
            <%= link_to dose_path(dose),
              method: :delete,
              data: { confirm: "Are you sure?" } do%>
              <i class="far fa-trash-alt"></i>
              <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="text-center">
    <%= link_to "add an ingredient", new_cocktail_dose_path(@cocktail), class: "btn btn-primary" %>
    <%= link_to "destroy the cocktail", cocktail_path(@cocktail),
    method: :delete,
    data: { confirm: "Are you sure?" }, class: "btn btn-primary" %>
  </div>
</div>

