<div>
  <h1>
    <%= @cocktail.name %>
  </h1>
  <%= simple_form_for [@cocktail, @ingredient, @dose] do |f| %>
    <%= f.input :description %>
    <%= f.association :ingredient %>
    <%= f.button :submit , class: "btn btn-primary"%>
  <% end %>
</div>
